<h2>The number of invoices from the US, grouped by state</h2>
<ul>
  {{#if show}}
    {{#each invoices16}}
      <li class={{this.id}}>{{this.billing_state}}</li>
      <li class={{this.id}}>Total {{this.total}}</li>
    {{/each}}
  {{/if}}
</ul>
