<h2>Every invoice ordered by total invoice amount ("total")</h2>
<ul>
  {{#if show}}
    {{#each invoices2}}
      <li class={{this.id}}> ID {{this.id}}</li>
      <li class={{this.id}}>{{this.total}}</li>
    {{/each}}
  {{/if}}
</ul>
