<h2>The total invoice value from California</h2>
<ul>
  {{#if show}}
    {{#each invoices18}}
      <li class={{this.id}}>{{this.billing_state}}</li>
      <li class={{this.id}}>Total {{this.sum(total)}}</li>
    {{/each}}
  {{/if}}
</ul>
