<h2>The number of invoices from Chicago, IL</h2>
<ul>
  {{#if show}}
    {{#each invoices15}}
      <li class={{this.id}}>{{this.billing_city}}</li>
      <li class={{this.id}}>Total {{this.total}}</li>
    {{/each}}
  {{/if}}
</ul>
