<h1>Welcome to our api display</h1>

<ul>
  <li><a href="/artists">Click here to See Artists</a></li>
  <li><a href="/albums">Click here to See Albums</a></li>
  <li><a href="/albums3">Every album ordered by album title in ascending order (A-Z)</a></li>
  <li><a href="/albums4">Every album ordered by album title in descending order (Z-A)</a></li>
  <li><a href="/albums5">Every album whose title starts with A in alphabetical order</a></li>
  <li><a href="/invoices">Every invoice</a></li>
  <li><a href="/invoices2">Every invoice ordered by total invoice amount ("total")</a></li>
  <li><a href="/invoices3">Every invoice with a total greater than 10</a></li>
  <li><a href="/invoices4">The 10 least expensive invoices</a></li>
  <li><a href="/invoices5">The 10 most expensive invoices</a></li>
  <li><a href="/invoices6">The 15 most recent invoices</a></li>
  <li><a href="/invoices7">The 15 oldest invoices</a></li>
  <li><a href="/invoices8">The 10 most expensive invoices from the US</a></li>
  <li><a href="/invoices9">The 10 least expensive invoices from the US</a></li>
  <li><a href="/invoices10">The 10 most expensive invoices from outside the US</a></li>
  <li><a href="/invoices11">Every invoice from Chicago, IL</a></li>
  <li><a href="/invoices12">A list of all the invoices worth more than $5.00 from Chicago, IL</a></li>
  <li><a href="/invoices13">The billing addresses of the 5 most valuable invoices from Mountain View CA</a></li>
  <li><a href="/invoices14">A list of the 10 most valuable invoices made before January 1st, 2010</a></li>
  <li><a href="/invoices15">The number of invoices from Chicago, IL</a></li>
  <li><a href="/invoices16">The number of invoices from the US, grouped by state</a></li>
  <li><a href="/invoices17">The state in the US with the most invoices</a></li>
  <li><a href="/invoices18">The total invoice value from California</a></li>
  <li><a href="/invoices19">The number of invoices and the invoice total from California</a></li>
  <li><a href="/invoices20">The count, total, and average of invoice totals from California</a></li>
  <li><a href="/invoices21">The count, total, and average of invoice totals, grouped by state, ordered by average invoice total from highest-to-lowest</a></li>
  <li><a href="/invoices22">A list of the top 5 countries by number of invoices</a></li>
  <li><a href="/invoices23">A list of the top 5 countries by gross/total invoice size</a></li>
  <li><a href="/invoices24">A list of the top 5 countries by average invoice size</a></li>
</ul>
